@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}


/* Message */

.message-module {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 350px;
    height: 70px;
    border-radius: 10px;
    color: white;
    fill: white!important;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.message-module.fade {
    opacity: 0;
}


.message-module__title-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid #1b1a1a;
    padding: 5px;
    margin-bottom: 5px;
}

.message-module__img {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(166deg) brightness(104%) contrast(108%)
}

.message-module__title {
    font-size: medium;
    padding-left: 10px;
}

.message-module__text-container {
    text-align: center;
}